body {
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #202225;
  font-family: "Playfair Display", serif;
  font-size: 42px;
  line-height: 26px;
  margin: 20px 0 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  color: #9d9da3;
}

a:hover {
  text-decoration: none;
  color: #bdbdc0;
}

.container {
  max-width: 600px;
}

.weather-app-wrapper {
  margin: 50px auto;
}

.weather-app {
  padding: 40px 40px 50px 40px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: #cfe0e6;
}

.overview {
  margin-bottom: 20px;
}

.temperature-section {
  margin-top: 15px;
}

.weather-temperature img {
  margin-right: -10px;
  height: 100px;
  width: 100px;
  position: relative;
  top: -20px;
  left: -10px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  position: relative;
  top: -10px;
}

.units {
  padding-left: 5px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover,
.weather-temperature a:hover {
  text-decoration: none;
}
